@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --window-bg: rgb(222, 210, 252);
  /* --fontstyle: 'Poppins', sans-serif; */
  --fontstyle: "Roboto", sans-serif;
  --fontsize: 15px;
}

* {
  font-family: var(--fontstyle);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--fontsize);
  text-decoration: none;
  list-style: none;
}

a {
  cursor: pointer;
}

body {
  background-color: var(--window-bg);
  padding: 30px 70px;
}

header {
  height: 70px;
  width: 91vw;

  padding: 0 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 23px;
  color: #9333EA;

  background: -webkit-linear-gradient(220deg,#81add8, #9333ea);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.navlinks{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks li{
  margin: 15px;
  font-size: 1.2rem;
  color: #6B7280;
}

.navlinks li.active{
  color: #9333EA;
}


.optionsicon img{
  height: 45px;
  margin: 5px;
  width: 45px;
}


/*---------------------------------------------------------------------------------*/

/* HOVER section-----*/
.logo:hover{
  color: #9333EA;
  scale: 1.1;
}
.navlinks li:hover{
  color: #9333EA;
  scale: 1.1;
}

.optionsicon img:hover{
  scale: 1.1;
}


/*---------------------------------------------------------------------------------*/
.error{
  display: flex;
  background-color: red;
  color: white;
  font-size: 1.3rem;
  margin: 10px 0px;
  padding: 15px;
  border-radius: 10px;
  justify-content: space-between;
  position: absolute;
  width:25%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all .4s ease-in-out;

  display: none;
}

.error img{
  height: 20px;
  width: 20px;
  margin: 0px 10px;
  cursor: pointer;
}


/*LOGIN Section*/

.logincontainer{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logincontainer h1{
  font-size: 6rem;
  background: -webkit-linear-gradient(2000deg,#81add8, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.loginbox{
  height: 70vh;
  margin: 40px;
  width: 30vw;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.loginbox h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.loginbox form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.loginbox form label{
  font-size: 1.1rem;
  color: #000000;
  margin:2px;
}

.loginbox form input{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6B7280;
  padding: 10px;
  font-size: 1rem;

  margin-bottom: 20px;
}

.loginbox form input:focus{
  outline: none;
  border: 1px solid #9333EA;
}

.loginbox form a{
  font-size: 1rem;
  color: #6B7280;
  margin:10px 0px;
}

.loginbox form button{
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #9333EA;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.loginbox form button:hover{
  background-color: #81add8;
}

.loginbox form .info{
  font-size: 1rem;
  color: #6B7280;
  margin: 10px 0px;
}

.loginbox form  a{
  color: #9333EA;
}


/*SIGNUP Section*/
.signupcontainer{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.signupcontainer h1{
  font-size: 6rem;
  background: -webkit-linear-gradient(2000deg,#81add8, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.signupbox{
  height: 70vh;
  margin: 40px;
  width: 30vw;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.signupbox h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.signupbox form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.signupbox form label{
  font-size: 1.1rem;
  color: #000000;
  margin:2px;
}

.signupbox form input{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6B7280;
  padding: 10px;
  font-size: 1rem;

  margin-bottom: 15px;
}

.signupbox form input:focus{
  outline: none;
  border: 1px solid #9333EA;
}

.signupbox form a{
  font-size: 1rem;
  color: #6B7280;
  margin:10px 0px;
}

.signupbox form button{
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #9333EA;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.signupbox form button:hover{
  background-color: #81add8;
}

.signupbox form .info{
  font-size: 1rem;
  color: #6B7280;
  margin: 10px 0px;
}

.signupbox form  a{
  color: #9333EA;
}


/*Reset Password Section*/
.resetcontainer{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.resetcontainer h1{
  font-size: 6rem;
  background: -webkit-linear-gradient(2000deg,#81add8, #9333ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

.resetbox{
  height: 70vh;
  margin: 40px;
  width: 30vw;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.resetbox h2{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
}

.resetbox form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.resetbox form label{
  font-size: 1.1rem;
  color: #000000;
  margin:2px;
}

.resetbox form input{
  height: 40px;
  border-radius: 5px;
  border: 1px solid #6B7280;
  padding: 10px;
  font-size: 1rem;

  margin-bottom: 15px;
}

.resetbox form input:focus{
  outline: none;
  border: 1px solid #9333EA;
}

.resetbox form a{
  font-size: 1rem;
  color: #6B7280;
  margin:10px 0px;
}

.resetbox form button{
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #9333EA;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

.resetbox form button:hover{
  background-color: #81add8;
}

.resetbox form .info{
  font-size: 1rem;
  color: #6B7280;
  margin: 10px 0px;
}

.resetbox form  a{
  color: #9333EA;
}


/*PROFILE PAGE*/
.profilebox{
  height: auto;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

  display: flex;
  flex-direction: column;
}

.profilebox h1{
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}

.profilebox .profileimage{
  margin: 10px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

.profilebox .profileimage img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profilebox label{
  margin: 10px 50px;
  font-size: 1.1rem;
  color: #000000;
  display: block;
}

.profilebox input[type="text"],.profilebox input[type="email"],.profilebox input[type="tel"],.profilebox textarea{
  height: 40px;
  width: 90%;
  max-width: 90%;
  margin: 0px 50px;
  border-radius: 5px;
  border: 1px solid #6B7280;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
}

.profilebox input[type="text"]:focus,.profilebox input[type="email"]:focus,.profilebox input[type="tel"]:focus,.profilebox textarea:focus{
  outline: none;
  border: 1px solid #9333EA;
}

.profilebox input[type="submit"]{
  height: 40px;
  width: auto;
  margin: 0px 50px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #9333EA;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;

  
}


.bigheading:hover{
  transition: all .5s ease;
  scale: 1.3;
}

/* ################################ */
/*    Responsive media queries      */

@media screen and (max-width: 1100px){
  body {
    padding: 30px 50px;
  }

  header{
    padding: 0 10px;
  }

  .logo{
    font-size: 1.5rem;
  }



  .optionsicon img{
    height: 25px;
    margin: 3px;
    width: 25px;
  }

  .error p{
    font-size: 0.8rem;
    padding: 5px;

  }

  .logincontainer h1{
    font-size: 4rem;
    margin-left: 20px;
    background: -webkit-linear-gradient(2000deg,#81add8, #9333ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
  }

  .loginbox{
    width: 40vw;
    padding: 30px;

  }

  .loginbox form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }

  .signupcontainer h1{
    font-size: 4rem;
    margin-left: 20px;
  }

  .signupbox{
    height: 72vh;
    width: 45vw;
    padding: 20px;

  }

  .resetcontainer h1{
    font-size: 4rem;
    margin-left: 20px;
  }

  .resetbox{
    height: 72vh;
    width: 45vw;
    padding: 20px;

  }

}

@media screen and (max-width: 700px){
  body {
    padding: 10px 10px;
  }

  header{
    height: 70px;
    width: 100%;
    padding: 0 10px;
  }

  .logo{
    font-size: 1.2rem;
  }

  .navlinks li{
    font-size: .7rem;
    margin: 5px;
  }

  .optionsicon img{
    height: 25px;
    margin: 1px;
    width:25px;
  }
  .error{
    width: 93%;
    padding:4px;

  }
  .error p{
    font-size: 0.7rem;
  }

  .logincontainer h1{
    display: none;
  }

  .loginbox{
    margin: 30px;
    width: 90vw;
  }

  .signupcontainer h1{
    display: none;
  }

  .signupbox{
    margin: 30px;
    width: 90vw;
  }

  .resetcontainer h1{
    display: none;
  }

  .resetbox{
    margin: 30px;

    width: 90vw;
  }

  .profilebox{
    margin: 10px;
    width: 90vw;
    margin: 10px;
  }

  .profiledetails{
    margin: 10px;
  }

  .profilebox label{
    margin: 10px 3px;
    font-size: 1.rem;
    color: #000000;
    display: block;
  }
  
  .profilebox input[type="text"],.profilebox input[type="email"],.profilebox input[type="tel"],.profilebox textarea{
    margin: 0px 3px;
    margin-bottom: 10px;
  }

  .profilebox h1{
    font-size: 1.5rem;
  }

  .profilebox .profileimage{
    margin: 5px 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  
  .profilebox .profileimage img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

  
