@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --window-bg: rgb(222, 210, 252);
  /* --fontstyle: 'Poppins', sans-serif; */
  --fontstyle: "Roboto", sans-serif;
  --fontsize: 15px;
}

* {
  font-family: var(--fontstyle);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: var(--fontsize);
  text-decoration: none;
}
a {
  cursor: pointer;
}
body {
  background-color: var(--window-bg);
  padding: 30px 70px;

}
body>h1{
  display: inline-block;
  font-size: 2rem;
  top:50px;
  padding-top: 3%;
  padding-left: 3%;
}

header {
  background-color: white;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-radius: 10px;
}

header > a>div.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 23px;
  color: #9333ea;
}
.nav-bar > ul {
  display: flex;
  justify-content: space-between;

}
.nav-bar > ul > li{

  list-style: none;
}
.nav-bar > ul > li>a {
  margin: 0 30px;
  font-family: "Roboto";
  font-size: 1.3rem;
  line-height: 19px;
  color: #6b7280;
}
.nav-bar > ul > li.active {
  color: #9333ea;
}

.options > a {
  margin: 0 10px;
}
.options > a > img {
  height: 40px;
  width: 40px;
}

.main-content {
  margin: 4% 0% 4% 2%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main-content > .side1 {
  display: flex;
  flex-direction: column;
}
.main-content>.side1>h1{
  display: inline;
  font-size: 2rem;
}
.main-content > .side1 > a > .menu {
  padding: 20px;
  width: 20vw;
  margin-top: 2%;
  border-radius: 5px;
}
.main-content > .side1 > a > .menu > svg {
  float: left;
}

.main-content > .side1 > a > .menu > h3 {
  margin: 0 40px;
  font-size: 1.3rem;
}

.main-content > .side1 > a > .menu.active,
.main-content > .side1 > a > .menu:hover {
  background: rgba(147, 51, 234, 0.06);
  color: #9333ea;
  transition: 0.5s ease;
}
.main-content > .side1 > a {
  color: #6b7280;
}

.main-content > .side1 > a.down {
  margin-top: 85%;
}

.main-content > .side2 {
  background-color: white;
  height: 80vh;
  width: 65vw;
  border-radius: 10px;
  margin: 0 2%;
}
.side2 > .todo-box {
  height: 60vh;
  width: 65vw;
  overflow: scroll;
}
.side2 > .todo-box::-webkit-scrollbar{
  visibility: hidden;
}
.side2 .task {
  margin: 1.2% 2%;
  padding: 2%;
  position: relative;
}
.task>.btns{
  display: block;
  float: right;
}
.task >.btns>a>svg {
  padding: 4px;
  height: 30%;
  width: 30%;
  float: right;
  position: relative;
  margin-top: -30px;
}
.task > h3 {
  font-family: "Roboto";
  font-size: 2rem;
  margin-bottom: 3px;
  color: #404040;
}
.task > h5 {
  font-family: "Roboto";
  font-size: 1.2rem;
  color: black;
  display: inline-block;
}
.task > a {
  margin: 0 0.5%;
}

.side2>form> input[type=text]{
    font-family: var(--fontstyle);
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: auto;
    width: 80%;
    padding: 10px 10px;
    background: #F3F3F3;
    border-radius: 5px;
    border-width: 0px;
    color: #9333ea;
}

.side2>form>input[type=date],input[type=time]{
  font-family: var(--fontstyle);
  font-size: 1.5rem;
  display: inline-block;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: auto;
  width: 30%;
  padding: 10px 10px;
  background: #F3F3F3;
  border-radius: 5px;
  border-width: 0px;
  color: #9333ea;
}

.side2>form>label{
  font-family: "Roboto";
  font-size: 1.3rem;
  color: #000000;
  margin: 10px;
}

.side2 >form>input[type=file],input[type=submit]{
  display: none;
}

.side2 >form>input[type=date],input[type=time]:hover{
  border: 2px solid #9333ea;
}

.side2 >form>input[type=text]:hover{
    border: 2px solid #9333ea;
}

.side2 >form>select{
  padding: 10px 10px;
  background: #F3F3F3;
  border-radius: 5px;
  border-width: 0px;
  color: #9333ea;
}
.side2 >form>select:hover{
  border: 2px solid #9333ea;
}
.side2 >form>input[type=submit]{
  display: none;
}
.side2 >form>label>svg{
    display: inline-block;
}
.error-message{
  color: white;
  background-color: red;
  height: 5vh;
  width: 50vw;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 4%;
  padding: 1%;

}
.login-box{
  background-color: white;
  height: 75vh;
  width: 50vw;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 4%;
  padding: 5%;
}
.login-box h1{
  font-family: "Roboto";
  padding-top: 2%;
  text-align: center;
  font-size: 3rem;
  color: black;
}
.login-box label{
  display: block;
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #404040;
  margin-left: 5%;
  margin-bottom: 2%;
  
}
.login-box input[type="text"],input[type="password"],input[type="email"]{
  font-family: var(--fontstyle);
  font-size: 1.5rem;
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px 10px;
  background: #F3F3F3;
  border-radius: 5px;
  border-width: 0px;
  color: #9333ea;
  margin-bottom: 4%;
}
.login-box input[type="text"]:hover,input[type="password"]:hover,input[type="email"]:hover{
  border: 2px solid #9333ea;
}

.login-box .reset-password{
  margin-left: 5%;
  margin-bottom: 2%;
  display: block;
  font-family: "Roboto";
  font-size: 1.2rem;
  color: #9333ea;
}

.login-box .btnss{
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
.login-box>form>.btnss>button,.login-box>form>.btnss>a{
  padding: 2%;  
  width: 80px;
  border-radius: 10%;
  border-width: 0;
  background-color: #9333ea;
  color: white;
  margin: 2%;
}
.login-box>form>.btnss>a.ress{
  background-color: red;

}


@media screen and (max-width:900px) {
      :root{
        --fontsize: 11px;
      }

      body {
        padding: 20px 20px;
      }

      header {
        width: 100%;
        height: 70px;
        padding: 0 15px;

      }

      .nav-bar > ul > li>a {
        margin: 0 10px;

      }

      .options > a {
        margin: 0 10px;
      }

      .options > a > img {
        height: 30px;
        width: 30px;
      }

      .error-message{
        width: 60vw;
        margin-top: 3%;
        padding: 2%;
      
      }
      .login-box{
        width: 60vw;
        margin-top: 3%;
      }

}



@media screen and (max-width:600px) {
  :root{
    --fontsize: 11px;
  }

  body {
    padding: 10px 10px;
  }

  header {
    width: 100%;
    height: 60px;
    padding: 0 15px;

  }

  .nav-bar > ul > li>a {
    margin: 0 4px;

  }

  .options > a {
    margin: 0 2px;
  }

  .options > a > img {
    height: 25px;
    width: 25px;
  }

  .error-message{
    height: 30px;
    width: 80vw;
    margin-top: 10%;
    padding: px;
  
  }
  .login-box{
    width: 80vw;
    margin-top: 10%;
    height: 400px;
  }

  .login-box h1{
    font-family: "Roboto";
    padding-top: 30px;
    text-align: center;
    font-size: 3rem;
    color: black;
  }
  .login-box>form>.btnss>button,.login-box>form>.btnss>a{
    padding: 5%;  
    width: 90px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;;
    border-width: 0;
    background-color: #9333ea;
    color: white;
    margin: 2%;
    margin-top: 20px;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main-content > .side1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:8px;
  }

  body>h1{
    display: inline-block;
    font-size: 2rem;
    top:50px;
    padding-top: 3%;
    padding-left: 3%;
  }
  .main-content > .side1 > a > .menu > svg {
    float: left;
    height: 15px;
    width: 15px;
  }

  .main-content > .side1 > a.down {
    margin-top: 0%;
  }
  .main-content > .side1 > a > .menu {
    padding: 10px;
    width: 20vw;
    border-radius: 5px;
  }

  .main-content > .side1 > a > .menu > h3 {
      margin: 0 20px;
      font-size: 1rem;
  }

  .main-content > .side2 {
    background-color: white;
    height: 80vh;
    width: 90vw;
    border-radius: 10px;
    margin: 0 1%;
  }

  .side2 > .todo-box {
    height: 60vh;
    width: 90vw;
    overflow: scroll;
  }

  .task > h3 {
    font-family: "Roboto";
    font-size: 1.7rem;
    margin-bottom: 3px;
    color: #404040;
  }

  .task > h5 {
    font-family: "Roboto";
    font-size: 1.2rem;
    color: black;
    display: inline-block;
  }

  .side2>form> input[type=text]{
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 3%;
    width: 70%;
    padding: 8px 8px;
  }

  .side2>form>input[type=date],input[type=time]{
    font-size: 1rem;
    width: 25%;
    padding: 8px 8px;
  }

  .side2 >form>label>svg{
    height: 20px;
    width: 20px;
  }
  
  .side2>form>label{
    font-family: "Roboto";
    font-size: 1rem;
    color: #000000;
    margin: 10px;
  }


}

