{% extends 'base.html' %}

{% block title %}
        TaskMate-Login
{% endblock title %}

{% block body %}
    {% if error!=None %}  
    <div class="error-message">
        {{ error }}
    </div>    
    {% endif %}
    <div class="login-box">
        <form action="" method="post">
        <h1>Login Here</h1>
        <br>
        <label for="username">Username </label>
        <input type="text" autofocus placeholder="Enter Username" name="username">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password">
        <a class="reset-password" href="/resetPassword" target="_blank" r>Reset Password</a>
        <div class="btns">
        <button type="submit">Login</button>
        <button class="res"type="reset">Reset</button>
        </div>
    </form>
    </div>
{% endblock body %}