{% include 'base.html' %}

{% block title %}
<title>ForgotPassword</title>  
{% endblock title %}
</head>
<body>
    {% load static%}
    <div class="error">
        <p>Reset Link Sent Successfully</p>
        <img src='{% static "/images/reject.png" %}' height="20" width="20" alt="Reject">
    </div>
    <section class="resetcontainer">
        <h1 class="bigheading">TaskMate</h1>
        <div class="resetbox">
            <h2>Reset Password</h2>
            <form action="">
                <label for="detail"></label>
                <label for="details">Username or Email </label>
                <input type="text" name="detail" id="detail" placeholder="Email or Username">
                <button type="submit">Send Reset Link</button>

                <p class="info">Don't have an account? <a href="{% url 'signUp' %}">Register</a></p>
                <p class="info">Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </section>

</body>
</html>