{% extends 'base.html' %}

{% block title %}
        TaskMate-Signup
{% endblock title %}

{% block body %}
    {% if error!=None %}  
    <div class="error-message">
        {{ error }}
    </div>    
    {% endif %}
    <div class="login-box">
        <form action="/signup" method="post">
        <h1>Signup Here</h1>
        <br>
        <label for="username">Username </label>
        <input autocomplete="off" minlength="4" type="text" autofocus placeholder="Enter Username" name="username">
        <label for="password">Password</label>
        <input autocomplete="off" minlength="4" type="password" placeholder="Enter Password" name="password">
        <div class="btnss">
        <button type="submit">Signup</button>
        <a class="res ress" href="/" >Home</a>
        </div>
    </form>
    </div>
{% endblock body %}